body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 42, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(241, 238, 41);
}

section {
    background: rgb(255, 25, 25);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
